@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Merriweather', serif;
}

.cursive {
  font-family: 'Tangerine', cursive;
  font-family: 'Allura', cursive;
}

body {
  background-color: rgb(168, 168, 168);
}
